.card-blue {
  color: #177e89;
  font-size: 2em;
}

.sim-logs {
  max-height: 25em;
  height: 25em;
  overflow-y: scroll;
}

.card-red {
  color: #db3a34;
  font-size: 2em;
}

.help-modal {
  height: 34em;
  overflow-y: scroll;
}

.tutorial-gif {
  max-height: 350px;
  max-width: 700px;
}

.dist-dropdown {
  max-height: 300px;
  overflow-y: scroll;
}

.mid-col {
  min-width: 22%;
  height: 29em;
}

.imgs-icon {
  max-height: 22px;
  vertical-align: middle;
}

.logo {
  max-height: 35px;
}

.table-cell {
  border-right: solid 1px #dee2e6;
  border-left: solid 1px #dee2e6;
}

.side-col {
  max-width: 27%;
}

.win-table-heading {
  font-size: 2em;
}
