#overalScore {
    font-size: 100px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
}


#rollButton {
    text-align: center;
}

#questionCard {
    margin-left: 20%;
    margin-right: 20%;
}

#dice {
    max-width: 10%;
    height: auto;
    margin: auto;
}

.player {
    font-size: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.score {
    font-size: 50px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}