.container {
	width: 75%;
	margin: auto;
	text-align: center;
}

body {
	background-color: #E51E1E;
	margin: 0;
}

h1 {
	margin: 3px;
	font-family: "Calibri";
	text-shadow: 2px 0 #33373c;
	font-size: 3rem;
	color: #EBEBDD;
	text-align: center;
}

#dice{
	width: 12%;
}

.bottom {
	padding-top: 20px;
}

.butn {
	background: #A0A098;
	font-family: "Calibri";
	border-radius: 10px;
	color: #ffff;
	font-size: 18px;
	text-decoration: none;
}

.butn:hover {
	background: #232931;
	text-decoration: none;
}

.lab { 
	font-family: "Calibri";
	text-shadow: 2px 0 #33373c;
	font-size: 2rem;
	color: #EBEBDD;
}

table{
	font-family: "Calibri";
	text-shadow: 2px 0 #33373c;
	font-size: 2rem;
	color: #EBEBDD;
}
