		.container {
			width: 60%;
			margin: auto;
			text-align: center;
		}

		body {
			background-color: #E51E1E;
			margin: 0;
		}

		h1 {
			margin: 3px;
			font-family: "Calibri", cursive;
			text-shadow: 3px 0 #33373c;
			font-size: 3rem;
			color: #EBEBDD;
			text-align: center;
		}

		h2 {
			margin: 1px;
			font-family: "Calibri", cursive;
			text-shadow: 1px 0 #33373c;
			font-size: 1rem;
			color: #EBEBDD;
			text-align: center;
		}

		#dice{
			width: 15%;
		}
		
		.bottom {
			padding-top: 20px;
		}

		.butn {
			background: #A0A098;
			font-family: "Calibri", cursive;
			border-radius: 10px;
			color: #ffff;
			font-size: 18px;
			text-decoration: none;
		}

		.butn:hover {
			background: #232931;
			text-decoration: none;
		}

		.lab { 
			font-family: "Calibri", cursive;
			text-shadow: 2px 0 #33373c;
			font-size: 2rem;
			color: #EBEBDD;
		}

		table{
			font-family: "Calibri", cursive;
			text-shadow: 2px 0 #33373c;
			font-size: 2rem;
			color: #EBEBDD;
		}
