.centerText {
  text-align: center;
  font-size: 32pt;
  color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

input[type=number] {
  border-radius: 5px;
  border: 2px solid green;
}

.modal fade {
  z-index: 50;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

.border {
  background-color: aqua;
  border-top: 4pt solid black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.statsSection {
  border-top: 4pt solid black;
  background-color: grey;
  padding-bottom: 8px;
}

#overlay {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  height: 60%;
  display: none;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 100;
}

.biggerText {
  font-size: 24pt;
}

.stageSection {
  padding-bottom: 10px;

}

.firstSentence {
  color: black;
  font-size: 18pt;
}

.contn {
  position: relative;
  width: 30%;
  background-color: orange;
}

/* Style the button and place it in the middle of the container/image */
.container .btns {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(58, 5, 5);
  color: white;
  font-size: 16px;

  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.imgHolder {
  width: 100%;
}