input[type=number] {
  border-radius: 5px;
  border: 2px solid green;
}

.modal fade {
  z-index: 50;
}

.statsSection {
  border-top: 4pt solid black;
  background-color: grey;
  padding-bottom: 8px;
}

.mainImg {
  width: 300px;
  height: 300px;
}

.doorWayImg {
  position: absolute;
  top: 150px;

  width: 300px;
  height: 304px;
  z-index: 2;
}

body {
  background-color: #FFEDC9;
}

#sectionAforTheme {
  background-color: #FFEDC9;
}

#sectionARow {
  padding-bottom: 5px;
  border-bottom: 6px solid black;
  border-top: 6px solid black;
}

#sectionBforTheme {
  background-color: #ffd789;
}

#sectionBRow {
  padding-bottom: 20px;
  padding-top: 20px;
}