.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 38px;
}

.slider.round:before {
  border-radius: 50%;
}

.featurette-divider {
  margin: 2rem 0;
}

.cardList {
  white-space: nowrap;
}

.cardTitle {
  text-align: center;
}

.cardInfo {
  margin-top: 20px;
  overflow-x: hidden;
  white-space: normal;
  z-index: 3;
}


.cardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.cardList {
  padding-left: 1.5%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 15.5%;
  height: attr(width);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  margin-right: 20px;
  padding: 20px;
  z-index: 2;
  transition: transform 1s ease;
}

.card:hover {
  transform: scale(1.5) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#leftCard:hover {
  transform: scale(1.5) translateX(20%) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#rightCard:hover {
  transform: scale(1.5) translateX(-20%) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footer {
  z-index: 1;
}