.featurette-divider {
  margin: 2rem 0;
}

.cardList {
  white-space: nowrap;
}

.cardTitle {
  text-align: center;
}

.cardInfo {
  margin-top: 20px;
  overflow-x: hidden;
  white-space: normal;
  z-index: 3;
}


.cardImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.cardList {
  padding-left: 1.5%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 15.5%;
  height: attr(width);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  margin-right: 20px;
  padding: 20px;
  z-index: 2;
  transition: transform 1s ease;
}

.card:hover {
  transform: scale(1.5) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#leftCard:hover {
  transform: scale(1.5) translateX(20%) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#rightCard:hover {
  transform: scale(1.5) translateX(-20%) translateY(-20%);
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footer {
  z-index: 1;
}