#gamesTitle {
  text-align: center;
}

.featurette-divider {
  margin: 2rem 0;
}

.cardList {
  max-width: 100vw;
  margin-left: 5vw;
}

.cardTitle {
  text-align: center;
  font-size: 150%;
}

.cardInfo {
  padding-top: 0%;
  overflow-x: hidden;
  white-space: normal;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 3;
}

.cardImage {
  padding-bottom: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 15%;
  height: attr(width);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  z-index: 2;
  transition: transform 1s ease;
}

.card:hover {
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .cardTitle {
    font-size: 100%;
  }

  .cardInfo {
    font-size: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .cardTitle {
    font-size: 150%;
  }

  .cardInfo {
    font-size: 100%;
  }
}